@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.App {
  text-align: center;
  align-items: center;
  background: rgb(241, 236, 230);
  box-shadow: 5px 10px #ddcf8f;
  text-align: center;
  align-items: center;
  position: fixed;
  padding: 30px;
  border-radius: 25px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.Title {
  font-family: 'Sora', sans-serif;
  font-size: 35px;
  align-items: center;
  margin: 5px auto;
}

#Text {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin: 5px auto;
}

#Color { /*contains image + palettes*/
  margin: 5px auto;
}

#Input-Container {
  align-items: center;
}

input[type=text] {
  background-color: rgb(228, 225, 225);
  border: none;
  text-decoration: none;
  padding: 16px 32px;
  margin: 4px 2px;
  width: 30%;
}

input[type=submit]{
  background-color: rgb(224, 166, 90);
  border: none;
  text-decoration: none;
  padding: 16px 32px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Sora', sans-serif;
  font-style: italic;
}
